body{
    background-color: #081b29;
}
footer{
    margin-top: 52vh;
    text-align: center;
    font-family: cursive;
    color: cyan;
}
.navbar{
    background-color: cyan;
    border-radius: 30px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
float:right;
list-style: none;
margin: 14px 20px;
}

.navbar li a{
font-family: cursive;    
padding: 3px 3px;
text-decoration: none;
}

.navbar li a:hover{
color: red;
}
.my-gallery{
    color: red;
}
.contact-me, .home, .about-me{
    color:black
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    width: 500px;
    border: 2px solid gray;
    border-radius: 20px;
}
video{
    width: 500px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 20px;
}

@media (max-width:500px){                /*For small screens apply this styling using media rule*/
    .container{
        flex-direction: column;
    }
    /* .navbar li {
        font-size: small;
        text-align: left;
    } */
}

@media (max-width:500px){
    body{
        background-color: rgb(131, 46, 46);  
    }
    .navbar{
         background-color:black   
    }
}





